/*[class*="col-"],.header,.footer {*/
/*background-color: lightgreen;*/
/*border: 1px solid black;*/
/*border-radius: 6px;*/
/*}*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.weekend {
    /*Pour les jours de weekend sur la page de saisie de CRA, il faut une couleur un peu plus sombre que les autres cases*/
    background-color: lightgrey;
}

#formSaisieCra input[type=text] {
    border: none;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width: 100%;
}

#formSaisieCra td {
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

body {
    /*background-image: url("logo.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    padding: 2px;
}

.firstCase{
    width: 10000px;
}

.inputeSize{
    /*padding:0;*/
    /*margin:0;*/
    height: 48px;
    text-align: center;
}

.intStyle{
    border-width: thick;
    border-color: black;
    border-style: solid;
}
